<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>802390442854-avgeo7cvv7325bb8c5h634530p9bk14p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802390442854-avgeo7cvv7325bb8c5h634530p9bk14p</string>
	<key>API_KEY</key>
	<string>AIzaSyD5HEmLF1HW_4n-lwiLqnQzA5b3UZ11_0U</string>
	<key>GCM_SENDER_ID</key>
	<string>802390442854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jujiiz.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>ju-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ju-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802390442854:ios:568516f3186c4b77</string>
	<key>DATABASE_URL</key>
	<string>https://ju-flutter.firebaseio.com</string>
</dict>
</plist>